:root {
    --segoeFont: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;

    --black: #000000;
    --white: #ffffff;
    --blue-twitter: #1da1f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--black); 
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header {
    background-color: var(--black);
    text-align: center;
}

main {
    color: var(--white);
}

.sidebar {          /*sidebar que pega tudo desde o icon até embaixo no account*/
    height: 100vh;
    width: auto;


    display: flex;
    justify-content: center;
}

.icon {                 /*ícone do twitter em cima da sidebar*/
    display: flex;
    color: var(--white);
    justify-content: center;
    transform: 75%;
}

.options a div{
    border-radius: 0.5rem;
}

.options a:hover{       /*quando passar o mouse por cima das options que vão de home até more*/
    color: var(--blue-twitter);
    text-decoration: underline;
}

a {                 /*âncoras de home a more*/
    display: flex;
    justify-content: center;
    text-decoration: none;
    
    font-family: var(--segoeFont);
    font-size: 1.1875rem;
    color: #d9d9d9;

    width: 100%;
    
    cursor: pointer;

    padding: 0.4375rem 0;
}

.tweet {            /*div do botão azul tweet*/
    width: 90%;
    justify-content: center;

    margin: 15px 0;

    position: relative;

    display: flex;
}

.tweet a{           /*âncora do botão azul tweet*/
    color: var(--white);

    border-radius: 9999px;  /*faz a borda ficar esticada e arredondada*/
    border-width: 1px;  /
    border-style: solid;

    background-color: var(--blue-twitter);
}

p {
    display: flex;
    justify-content: center;
}