:root {
    --segoeFont: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;

    --black: #000000;
    --white: #ffffff;
    --blue-twitter: #1da1f2;
    --gray-border: rgb(47, 51, 54);
    --dark-blue: rgba(29, 161, 242, 0.1);
    --green-retweet: rgb(23, 191, 99);
    --pink-favorite: rgb(224, 36, 94);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--black); 
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* Header -----------------*/
header {
    background-color: var(--black);

    height: 100vh;
    width: auto;

    display: flex;
    justify-content: flex-end;
}

.menu {
    padding: 0 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 275px;
}

.menu-up {
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.head-home {
    padding: 2px 0;    
}

.head-home h1 a{                 /*ícone do twitter em cima de options*/
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: 60.25px;
}

svg.home-icon-twitter {
    display: inline-block;
    fill: var(--white);
    height: 2rem;
    width: 1.5em;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
}

.options a {                 /*âncoras de home a more*/
    display: flex;
    justify-content: start;
    align-items: center;

    text-decoration: none;
    
    font-family: var(--segoeFont);
    font-size: 1.1875rem;
    color: #d9d9d9;

    width: 100%;
    height: 60.25px;
    
    

    /*padding: 0.4375rem 0;*/
}

.options a:hover {       /*quando passar o mouse por cima das options que vão de home até more*/
    color: var(--blue-twitter);
    /*box-shadow: 0 1px 2px rgba(f,f,f,0.1);*/
    background-color: var(--dark-blue);
    
    
    /*width: fit-content;*/
    border-radius: 9999px;    
    
    cursor: pointer;
    transition-duration: 0.2s;
}

.option-item{
    padding: 10px;
    display: flex;
    /*flex-direction: row;        /*talvez seja necessário no futuro*/
}

svg.option-item-icon {
    display: inline-block;
    fill: var(--white);
    height: 1.75rem;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
}

.option-item-word {             /*elemento do menu correspondednte à palavra*/
    margin: 0 15px 0 20px;
}

/* Botão Azul tweet --------------*/

.tweet a {            /*âncora do botão azul tweet*/
    width: 90%;
    height: 100%;
    justify-content: center;

    font-family: var(--segoeFont);

    margin: 15px 0;

    position: relative;

    display: flex;

    padding: 10px 0;

    color: var(--white);

    border-radius: 9999px;  /*faz a borda ficar esticada e arredondada*/
    border-width: 1px;
    border-style: none;
    text-decoration: none;
    background-color: var(--blue-twitter);
}

.tweet a:hover {
    background-color: var(--white);
    color: var(--blue-twitter);
    transition-duration: 0.2s;
}

/* Account Group------------*/
.account {
    display: flex;
    
    margin: 10px 0;    

    color: var(--white);

    box-sizing: border-box;
    align-items: center;
}

.inner-account {
    padding: 10px;

    display: flex;
    flex-direction: row;;

    
    align-items: center;

    height: 100%;
    width: 100%;

    box-sizing: border-box;
}

.name-account {
    margin: 0 10px;

    font-family: var(--segoeFont);
}

.user-name-account {
    color: rgb(110, 118, 125);
}

.more-account {
    display: flex;

    align-items: flex-end;  /*pesquisar*/
    justify-content: flex-end;  /*pesquisar*/
    
    flex-grow: 1;       
    box-sizing: border-box;
}

svg.more-account-icon{     /*icon more*/
    display: inline-block;
    fill: var(--white);
    height: 1.75em;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
}

/* Main ---------------*/

main {
    color: var(--white);
    height: 100vh;
    width: auto;

    display: flex;
    justify-content: flex-start;
}

.container-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 990px;
}

.home-tab {
    border: 0 1px;
    border-width: 0 1px;
    border-color: var(--gray-border);
    border-style: solid;

    max-width: 600px;
    width: 100%;
    height: 100vh;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;

    top: -0.5px;

    border-color: var(--gray-border);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
    position: sticky;   /*faz com que ao rolar a tela o item fique posicionado na tela sempre aparecendo*/

    box-sizing: border-box;

    height: 53px;
}

.home-title-word a{
    font-family: var(--segoeFont);
    font-weight: 700;
    font-size: 15px;
    color: var(--white);

    text-decoration: none;
}

svg.stars {
    display: inline-block;
    fill: var(--white);
    height: 1.75em;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
}

.stars:hover {
    fill: var(--blue-twitter);
    cursor: pointer;
}

.tweet-container {
    width: 100%;
    height: 112px;
    display: flex;
    
    flex-direction: row;

    padding: 5px 15px;
}

.tweet-container-photo {
    padding-top: 5px;
    margin-right: 10px;
}

.tweet-container-text {
    display: flex;
    flex-direction: column;

    padding-top: 5px;
}

.twitter-writing {
    display: flex;    
    border: 2px;    
}

.twitter-writing div {
    padding: 10px 0;
}

#tweet-input {
    border: none;
    
    width: 504px;
    height: 24px;

    background-color: var(--black);

    font-size: 19px;
    font-weight: 400;
    font-family: var(--segoeFont);
}

.twitter-writing-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 2px;

    width: 100%;
    height: 100%;
}

.options-tweet {
    display: flex;
    flex-direction: row;
}

.options-tweet div {
    width: 37px;
    height: 37px;

    display: flex;
    justify-content: center;
    align-items: center;
}

svg.options-tweet-new-icon {
    display: inline-block;
    fill: var(--blue-twitter);
    width: 1.5em;
    height: 1.5em;
    position: relative;
    vertical-align: text-bottom;
}

.tweet-for-real a{
    width: 75px;
    height: 100%;
    justify-content: center;

    font-family: var(--segoeFont);
    font-weight: 400;

    display: flex;

    padding: 10px;

    color: var(--white);

    border-radius: 9999px;  /*faz a borda ficar esticada e arredondada*/
    border-width: 1px;
    border-style: none;
    text-decoration: none;
    background-color: var(--blue-twitter);
}

.tweet-for-real a:hover {
    color: var(--blue-twitter);
    background-color: var(--white);
}


.blank-space {
    height: 10px;

    border-style: solid none;
    border-color: var(--gray-border);
    background-color: rgb(21, 24, 28);
}

/* Main/Timeline -----------------*/

.timeline {
    max-width: 600px;
    
    width: 100%;
    height: 100vh;

    font-size: 15px;

    display: block;
}

.tweet-timeline {
    border-width: 0 0 1px 0;
    border-color: var(--gray-border);
    border-style: solid;

    display: flex;
    flex-direction: row;

    padding: 10px 15px;
}

.tweet-photo {
    margin-right: 10px;
}

.tweet-content {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.tweet-name-user {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: start;

    width: 100%;

    margin-bottom: 2px;

    font-family: var(--segoeFont);
    font-size: 15px;
}

.tweet-name-user div {
    display: flex;
    flex-direction: row;
}

.tweet-name-user div a {
    text-decoration: none;
    color: var(--white);
    
    font-weight: 700;    
}

.tweet-name-user div .user {
    padding: 0 5px;
    color: #6e767d;
}

svg.tweet-more{
    width: 18.75px;
    height: 18.75px;
    fill: var(--white);
}

svg.tweet-more:hover {
    fill:var(--blue-twitter);
    cursor: pointer;

    background-color: var(--dark-blue);
    border-radius: 9999px;
}

.tweet-text {
    font-family: var(--segoeFont);
    font-size: 15px;
    font-weight: 400;

    color: rgba(217, 217, 217, 1.00);

    position: relative;
}

.tweet-options-icons{
    max-width: 425px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    margin-top: 10px;
}

svg.icon-comment {
    display: inline-block;
    fill: var(--white);
    height: 1.25em;
    width: 1.25em;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
}

svg.icon-comment:hover {
    fill: var(--blue-twitter);
    cursor: pointer;

    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 9999px;
}

svg.icon-retweet {
    display: inline-block;
    fill: var(--white);
    height: 1.25em;
    width: 1.25em;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
}

svg.icon-retweet:hover {
    fill: var(--green-retweet);
    cursor: pointer;

    background-color: rgba(23, 191, 99, 0.1);
    border-radius: 9999px;
}

svg.icon-favorite {
    display: inline-block;
    fill: var(--white);
    height: 1.25em;
    width: 1.25em;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
}

svg.icon-favorite:hover {
    fill: var(--pink-favorite);
    cursor: pointer;

    background-color: rgba(224, 36, 94, 0.1);
    border-radius: 9999px;
}

svg.icon-share {
    display: inline-block;
    fill: var(--white);
    height: 1.25em;
    width: 1.25em;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
}

svg.icon-share:hover {
    fill: var(--blue-twitter);
    cursor: pointer;

    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 9999px;
}

/* Happening ------------------*/
.happening {
    width: 350px;
    height: 100%;
    min-height: 1090px;

    margin-right: 10px;

    padding-top: 10px;
    padding-bottom: 59px;

    display: block;
}

.search {
    margin-bottom: 10px;
    width: 100%;
    height: 53px;
    min-height: 30px;

    display: flex;
    flex-direction: row;

    box-sizing: border-box;

    align-items: center;

    background-color: rgb(32, 35, 39);
    box-sizing: border-box;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 9999px;
    border-style: solid;

    
}

.icon-search {
    display: flex;
    justify-content: center;
}

.icon-search svg {
    padding-left: 10px;
    color: rgb(110, 118, 125);

    height: 1.25em;
    min-width: 30px;

    fill: rgb(110, 118, 125);
}

.search-twitter {
    font-weight: 400;
    line-height: 1.3125;    
}

#search {
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 15px;
    font-family: var(--segoeFont);

    box-sizing: border-box;
    background: none;

    border: none;

    padding: 10px;
    color: rgba(217, 217, 217, 1.00)
}

.whats-happening-container {
    margin-bottom: 15px;
    background-color: rgb(21, 24, 28);
    border-color: rgb(21, 24, 28);
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;

    width: 100%;
    height: 547px;

    display: grid;
    grid-template-rows: 0.5fr 5fr 0.5fr;
}

.whats-happening-title {
    display: block;
    padding: 10px 15px;

    font-family: var(--segoeFont);
    font-weight: 800;
    font-size: 19px;
    
    line-height: 1.3125;

    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--gray-border);
}

.body-happening {
    background-color: rgb(21, 24, 28);
    border-color: rgb(21, 24, 28);
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.body-item {
    display: flex;
    border-bottom: 1px;

    flex-direction: column;

    padding: 10px 15px;

    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--gray-border);
}

.gray-title {
    display: flex;
    flex-direction: row;

    font-size: 13px;
    font-family: var(--segoeFont);
    font-weight: 400;

    color: #6e767d;

    justify-content: space-between;
}

.gray-trending {
    width: fit-content;
    height: 100%;
}

svg.more-happening {
    display: inline-block;
    width: 1.25em;
    fill: #6e767d;
    height: 1.25em;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
}

.white-title {
    display: block;
    padding: 2px 0 0;

    font-family: var(--segoeFont);
    font-weight: 700;
    font-size: 15px;
    
    line-height: 1.3125;
}

.tweet-count {
    margin-top: 5px;
    font-size: 13px;
    font-family: var(--segoeFont);
    font-weight: 400;

    color: rgb(110, 118, 125);
}

.show-more{
    display: flex;
    padding: 15px;

    font-size: 15px;
    font-family: var(--segoeFont);
    font-weight: 400;
}

.show-more a {
    text-decoration: none;

    color: var(--blue-twitter);
}

/* Who to follow -------------------*/

.who-to-follow-container {
    margin-bottom: 15px;
    background-color: rgb(21, 24, 28);
    border-color: rgb(21, 24, 28);
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;

    width: 100%;
    height: 330px;
    min-height: 15rem;

    display: grid;
    grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
}

.who-to-follow-title {
    display: block;
    padding: 10px 15px;

    font-family: var(--segoeFont);
    font-weight: 800;
    font-size: 19px;
    
    line-height: 1.3125;

    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--gray-border);
}

.account-item {
    display: flex;
    border-bottom: 1px;

    flex-direction: row;
    

    padding: 10px 15px;

    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--gray-border);

    align-items: center;
}

.follow-profile-photo {
    display: flex;
    margin-right: 10px;
}

.name-button-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: space-between;
}

.follow-account {
    display: flex;
    flex-direction: column;

    width: 100%;

    font-family: var(--segoeFont);
}

.name-account-follow {
    color: var(--white);
    
    font-size: 15px;
    font-weight: 700;

    display: flex;
    flex-direction: row;
}

svg.verified-icon {
    fill: var(--white);
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
}

.user-follow {
    color: #6e767d;
    
    font-size: 15px;
    font-weight: 400;
}

.follow {
    min-width: 79px;
    margin-left: 10px;
}

.follow button {
    width: 100%;
    height: 100%;

    background: none;
    color: var(--blue-twitter);

    font-family: var(--segoeFont);
    font-size: 15px;
    font-weight: 700;

    justify-content: center;
    text-align: center;

    border-radius: 9999px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--blue-twitter);
}

.follow button:hover {
    color: var(--white);
    background: var(--blue-twitter);

    cursor: pointer;
}